version: 2.1

orbs:
  architect: giantswarm/architect@6.12.0

workflows:
  build:
    jobs:
    - architect/push-to-app-catalog:
        name: push-to-app-catalog
        context: architect
        executor: app-build-suite
        chart: sitesearch
        app_catalog: giantswarm-operations-platform-catalog
        app_catalog_test: giantswarm-operations-platform-test-catalog
        persist_chart_archive: true
        push_to_oci_registry: true
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master
