---
apiVersion: apps/v1
kind: Deployment

metadata:
  namespace: {{ .Release.Namespace }}
  name: {{ .Values.name }}
  labels:
    {{- include "labels.common" . | nindent 4 }}
spec:
  # We want only one OpenSearch node here.
  # Simplicity over resilience in this case.
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: {{ .Values.name }}
  strategy:
    # There must be only one pod running at a time, due to volume write lock restrictions.
    type: Recreate
  template:
    metadata:
      name: {{ .Values.name }}
      labels:
        app: {{ .Values.name }}
    spec:
      securityContext:
        runAsUser: 1000
        runAsNonRoot: true
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault

      {{- if .Values.opensearch.forceCleanStart }}
      initContainers:
        - name: clean-data
          image: busybox:1.35
          command: ['sh', '-c', 'rm -rf /usr/share/opensearch/data/* || true']
          volumeMounts:
            - name: data-volume
              mountPath: /usr/share/opensearch/data
          securityContext:
            runAsUser: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
      {{- end }}
      containers:
        - name: opensearch
          image: {{ .Values.image.name }}:{{ .Values.image.tag }}
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
            capabilities:
              drop:
                - ALL

          env:
            - name: cluster.name
              value: {{ .Values.opensearch.clusterName }}
            - name: node.name
              value: {{ .Values.opensearch.nodeName }}
            - name: discovery.type
              value: single-node
            - name: bootstrap.memory_lock
              value: "false"
            - name: OPENSEARCH_JAVA_OPTS
              value: "-Xms256m -Xmx256m"
            - name: OPENSEARCH_HOME
              value: /usr/share/opensearch
            {{- if .Values.opensearch.securityDisabled }}
            - name: DISABLE_INSTALL_DEMO_CONFIG
              value: "true"
            - name: DISABLE_SECURITY_PLUGIN
              value: "true"
            {{- end }}
            {{- if .Values.opensearch.performanceAnalyzerDisabled }}
            - name: DISABLE_PERFORMANCE_ANALYZER_AGENT_CLI
              value: "true"
            {{- end }}
          ports:
            - containerPort: 9200
              name: http
          resources:
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
          volumeMounts:
            - name: data-volume
              mountPath: /usr/share/opensearch/data
            - name: logs-volume
              mountPath: /usr/share/opensearch/logs
          livenessProbe:
            httpGet:
              path: /
              port: http
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /
              port: http
              scheme: HTTP
            initialDelaySeconds: 20
            periodSeconds: 30
            timeoutSeconds: 3
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: {{ .Release.Namespace }}-{{ .Values.name }}
        - name: logs-volume
          emptyDir: {}
      serviceAccount: {{ .Values.name }}
      serviceAccountName: {{ .Values.name }}
